{% extends "base.html" %}

{% block content %}
<h1>トレーニング一覧</h1>
{% for training in trainings %}
    <div class="training">
        <h2>{{ training.name }}</h2>
        <p>カテゴリー: {{ training.category }}</p>
        <h3>説明</h3>
        <p>{{ training.description }}</p>
        <h3>意識するポイント</h3>
        <p>{{ training.points }}</p>
        {% if training.video_url %}
            <h3>参考動画</h3>
            <iframe width="560" height="315" src="{{ training.video_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endif %}
        
        {% if current_user.is_authenticated %}
        <form action="{{ url_for('main.update_training_status', training_id=training.id) }}" method="POST">
            <label for="status">ステータス:</label>
            <select name="status" id="status">
                <option value="not_started">未開始</option>
                <option value="in_progress">取り組み中</option>
                <option value="completed">完了</option>
            </select>
            <button type="submit">更新</button>
        </form>
        {% endif %}
    </div>
{% endfor %}

{% if current_user.is_authenticated and current_user.is_admin %}
<a href="{{ url_for('main.add_training') }}">新しいトレーニングを追加</a>
{% endif %}
{% endblock %}